body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  color: white;
  font-family: sans-serif;
  background-color: #222 ;
}
a {
  color: #42affa;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease;

}

a:hover {
  color: #8dcffc;
  text-shadow: none;
  border: none;
}
